<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이미지 판단 시스템</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>이미지 판단 시스템</h1>
    <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
        <label for="file">이미지를 선택하세요</label>
        <br><br>
        <!-- 파일 선택 버튼 -->
        <input type="file" name="file" id="file" accept="image/*" onchange="loadImagePreview(event)">
        <br><br>
        <!-- 이미지 미리보기 영역 -->
        <img id="preview" src="" alt="이미지 미리보기" style="display: none;">
        <br><br>
        <!-- 이미지 분석 버튼 -->
        <button type="submit">이미지 분석</button>
    </form>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
